<div class="form-group-row"></div>
    <div class="form-group-row">
<label for ="search" class="col-sm-2 col-form-label" style ="text-align: right;">Search</label>
<div class="col-sm-6">


<input type="text" [(ngModel)]="searchValue" class="form-control" id ="search"/>
</div>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Qualiication</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">PassoutYear</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of Students | searchfilter:searchValue">
            <td scope="col">{{student.Name}}</td>
            <td scope="col">{{student.Qualification}}</td>
            <td scope="col">{{student.Address}}</td>
            <td scope="col">{{student.Phone}}</td>
            <td scope="col">{{student.PassoutYear}}</td>

        </tr>
    </tbody>
</table>